[submodule "deps/SDL3"]
	path = deps/SDL3
	url = https://github.com/libsdl-org/SDL.git
[submodule "deps/SDL3_image"]
	path = deps/SDL3_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "deps/SDL3_ttf"]
	path = deps/SDL3_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
[submodule "deps/SDL3_mixer"]
	path = deps/SDL3_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
[submodule "deps/SDL3_net"]
	path = deps/SDL3_net
	url = https://github.com/libsdl-org/SDL_net.git
